<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../app.js"></script>
    <script src="./lib/htmlRenderer.js"></script>
    <!-- <script>
        // $(document).ready(function () {
        //     $('#manager').load("./manager.html");
            // $('#engineer').load("engineer.html");
            // $('#intern').load("intern.html");
        });
    </script> -->
</head>

<body>
    <!-- attach manager.html here -->
    <div id="manager"></div>




</body>

</html>